body {
  background-color: black;

  /*to fix issue with selecting text while playing game*/

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

div, button {
  padding: 0;
  margin: auto;
}

button {
  background-color: #b17200;
  display: block;
  padding: 0;
  margin: auto;
  width: 100px;
  height: 30px;
  font-weight: bold;
  border-radius: 8px;
}

button:hover {
  background-color: orange;
}

div {
  padding: 0;
  margin: auto;
  width: 200px;
}

canvas {
  position: absolute;
  padding: 5px;
  margin: auto;
  cursor: crosshair;
  border: 1px solid #b17200;
}

.info {
  color: grey;
  font-family: sans-serif;
  text-align: center;
}

.info-container {
  display: block;
  float: left;
  width: 300px;
}

.header {
  font-family: 'Orbitron', sans-serif;  text-align: center;
  font-weight: bolder;
  font-size: 32px;
  letter-spacing: 3px;
  line-height: 2em;
  color: black;
  text-shadow:
   -1px -1px 0 #b17200,
    1px -1px 0 #b17200,
    -1px 1px 0 #b17200,
     1px 1px 0 #b17200;
}

.message {
  font-family: 'Orbitron', sans-serif;  text-align: center;
  color: #b17200;
  letter-spacing: 2px;
}
